body{
	margin: 0;
}

.app{
	background:white !important;
}
/* main container stuff */
.app-body {
	position: relative;
	z-index: 1;
}

.content {
	
}

.restaurant-wrapper{
	overflow: auto;
	height:100%;
}
.restaurant-wrapper .panel-body{
	background-color:rgb(243, 243, 243);
}